button {
  background-color: rgb(43, 207, 158);
  color: white;
  border: none;
  height: 2.2rem;
  width: 4rem;
  float: right;
}

#subb {
  margin-top: 10px;
}

#lname {
  margin-left: -15px;
}

.iname {
  height: 40px;
}

#lastname {
  margin-top: -20px;
}

#hRegist{
  padding-left: 15px;
}